{#  -*- coding: utf-8 -*- #}
{% extends 'story.tmpl' %}
{% import 'project_helper.tmpl' as project with context %}
{#  -*- coding: utf-8 -*- #}
{% import 'arusahni_helper.tmpl' as arusahni with context %}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
        <meta name="keywords" content="{{ post.meta('keywords')|e }}">
    {% endif %}
    <meta name="author" content="{{ post.author() }}">
    {{ helper.open_graph_metadata(post) }}
    {{ arusahni.rich_twitter_card_information(post) }}
    {{ helper.meta_translations(post) }}
{% endblock %}

{% block content %}
    <div class="post">
    {{ arusahni.html_title() }}
        <div class="meta">
            <div class="authordate">
                <time class="timeago" datetime="{{ post.date.isoformat() }}">{{ post.formatted_date(date_format) }}</time>
            {{ arusahni.html_translations(post) }}
            {{ arusahni.html_sourcelink() }}
            </div>
            {{ arusahni.html_tags(post) }}
        </div>
        <div class="body">
                <table class="table table-hover">
                    <tr>
                    <th>Location</th>
                    <td>{{ post.meta('location') }}</td>
                    </tr>

                    {% if post.meta('language') %}
                    <tr>
                    <th>Language</th>
                    <td>{{ post.meta('language') }}</td>
                    </tr>
                    {% endif %}

                    {% if post.meta('youtube') %}
                    <tr>
                    <th>YouTube</th>
                    <td><a href="{{ post.meta('youtube') }}"><i class="icon-youtube"></i> Youtube</a></td>
                    </tr>
                    {% endif %}

                    {% if post.meta('slides') %}
                    <tr>
                    <th>Slides</th>
                    <td><a href="{{ post.meta('slides') }}"><i class="icon-tv"></i> Youtube</a></td>
                    </tr>
                    {% endif %}
                </table>
            {{ post.text() }}
        </div>
    </div>
{% endblock %}